.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero-section p {
  font-size: 18px;
  margin-bottom: 0;
}
.team-section {
  padding: 60px 0;
}
#meme-img {
  background-image: url('../img/trump-meme.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  display: none;
}
.meme {
  cursor: vertical-text;
}
