#p-rating {
  margin-top: 0.15rem;
  margin-right: 0.3rem;
}
#no-rating {
  margin-top:0.15rem;
}
.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
  text-align: center;
  margin-top: 0.15rem;
}
.rating > .star {
  color: #e52;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: .8em;
  font-size: 1.3rem;
}