.hero-section {
  background-image: url('../img/homepage.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#background-homepage {
  background-color:#085c64d4;  
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  line-height: 2;
  background-image: var(--bs-gradient);
}
.homepage-container {
  margin-top: 4rem;
}