body {
  font-family: 'Roboto', sans-serif;
}

.hero-section {
  background-image: url('homepage.jpg'); /* Sostituisci con l'URL dell'immagine di sfondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#background-homepage{
  /* Da sistemare */
  background-color:#2F4F4F;
  /* border-radius: 10%; */
  border-style: double;
  border-width: medium;
  padding:5px;
  line-height: 2;
  /* border-color: #112a2a; */
}

.feature-box {
  transition: transform 0.3s;
}

.feature-box:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #f8f9fa;
  /* position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  line-height: 60px; */
}

/* .content {
  position: relative;
  height: 100vh;
} */
