body {
  font-family: 'Roboto', sans-serif;
}

.hero-section {
  background-image: url('homepage.jpg'); /* Sostituisci con l'URL dell'immagine di sfondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.feature-box {
  transition: transform 0.3s;
}

.feature-box:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #f8f9fa;
}

/* .content {
  position: relative;
  height: 100vh;
} */
