{% extends "base.html" %}
{% block title %}Chi Siamo{% endblock %}
{% block style %} {{url_for('static', filename='css/about_styles.css')}} {% endblock %}
{% block content %}

<!-- Hero Section -->
<section class="hero-section">
	<div class="container">
		<h1>Chi Siamo</h1>
		<p>La piattaforma che ti aiuta a raggiungere i tuoi obiettivi di fitness</p>
	</div>
</section>

<!-- About Us Section -->
<section class="team-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>La Nostra Missione</h2>
				<p>
					La nostra missione è fornire una piattaforma all'avanguardia che colleghi i personal trainer e i clienti, 
					offrendo strumenti efficaci per gestire gli allenamenti e monitorare i progressi. Crediamo che un 
					allenamento personalizzato sia la chiave per ottenere risultati concreti e duraturi.
				</p>
				<p>
					Ogni allenamento è pensato per adattarsi alle esigenze uniche di ogni cliente, guidato dall'esperienza e 
					dalla competenza dei nostri personal trainer certificati. Siamo qui per supportare ogni utente nel proprio 
					percorso di fitness, rendendo l'esperienza di allenamento non solo efficace, ma anche piacevole.
				</p>
			</div>
			<div class="col-lg-6">
				<h2>I Nostri Valori</h2>
				<ul>
					<li><strong>Professionalità:</strong> Ci impegniamo a fornire un servizio di alta qualità con un team di esperti.</li>
					<li><strong>Personalizzazione:</strong> Ogni cliente è unico, e così deve essere anche il suo percorso di allenamento.</li>
					<li><strong>Innovazione:</strong> Utilizziamo le ultime tecnologie per migliorare continuamente la nostra piattaforma.</li>
					<li><strong>Comunità:</strong> Crediamo nella forza della comunità e nel supporto reciproco tra personal trainer e clienti.</li>
					<li><strong>Alimentazione Sana:</strong> Oltre all'attività fisica, siamo convinti che una <span class="meme">dieta</span> bilanciata e nutriente sia essenziale per il benessere complessivo.</li>
				</ul>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-6" id="meme-img">
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/showMeme.js')}}"></script>
{% endblock %}