{% extends "base.html" %}
{% block title %} Schede {% endblock %}
{% block style %} {{url_for('static', filename='css/login_styles.css')}} {% endblock %}
{% block content %}
<div class="login-container mt-3 mb-3">
	<h2>Crea Scheda</h2>
	<form  action="/create_scheda" method="POST">
		<div class="mb-3">
      <label for="titleInput" class="form-label">Titolo</label>
      <input type="text" class="form-control" name="titolo" id="titleInput" required>
    </div>
    <div class="mb-3">
      <label for="obiettivoInput" class="form-label">Obiettivo</label>
      <input type="text" class="form-control" name="obiettivo" id="obiettivoInput" required>
    </div>
    <label class="form-label">Seleziona allenamenti</label>
    {% for allenamento in allenamenti %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="ids" value="{{allenamento.id_allenamento}}" id="flexCheck{{loop.index}}">
        <label class="form-check-label" for="flexCheck{{loop.index}}">
          {{allenamento.titolo}}
        </label>
      </div>
    {% endfor %}
    <input type="hidden" id="client_id" name="client_id" value="{{client_id}}"/>
		<button type="submit" class="btn btn-primary mt-2">Crea</button>
	</form>
</div>
{% endblock %}
