{% extends "base.html" %}
{% block title %}Accedi{% endblock %}
{% block style %} {{url_for('static', filename='style_footer.css')}} {% endblock %}
{% block content %} 
	<div class="col-4 offset-md-4 bg-light p-4 border rounded mt-3 mb-3">
		<form action="/login" method="POST">
			<div class="mb-3">
				<label for="emailInput" class="form-label">Email</label>
				<input type="text" class="form-control" name="email" id="emailInput" required>
			</div>
			<div class="mb-3">
				<label for="passwordInput" class="form-label">Password</label>
				<input type="password" class="form-control" name="password" id="passwordInput">
			</div>
			<button type="submit" class="btn btn-primary">Accedi</button>
		</form>
	</div>
{% endblock %}