{% extends "base.html" %}
{% block title %}Accedi{% endblock %}
{% block style %} {{url_for('static', filename='css/login_styles.css')}} {% endblock %}
{% block content %}
<div class="login-container mt-3">
	<h2>Accedi al Tuo Account</h2>
	<form  action="/login" method="POST">
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" id="email" name="email" required>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control password-input" id="password" name="password" required>
			<span class="toggle-password">
				<i class="fa-solid fa-eye field-icon"></i>
			</span>
		</div>
		<button type="submit" class="btn btn-primary">Accedi</button>
		<div class="form-text">
			Non hai un account? <a href="/signup">Registrati qui</a>
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/fieldIcon.js')}}"></script>
{% endblock %}