{% extends "base.html" %}
{% block title %} Schede {% endblock %}
{% block style %} {{url_for('static', filename='login_style.css')}} {% endblock %}
{% block content %}
<div class="login-container mt-3 mb-3">
	<h2>Modifica Scheda</h2>
	<form  action="/modify_scheda/{{scheda.id_scheda}}" method="POST">
		<div class="mb-3">
      <label for="titleInput" class="form-label">Titolo</label>
      <input value="{{scheda.titolo}}" type="text" class="form-control" name="titolo" id="titleInput" required>
    </div>
    <div class="mb-3">
      <label for="obiettivoInput" class="form-label">Obiettivo</label>
      <input type="text" value="{{scheda.obiettivo}}" class="form-control" name="obiettivo" id="obiettivoInput" required>
    </div>
    <label class="form-label">Seleziona allenamenti</label>
    {% for allenamento in allenamenti %}
      <div class="form-check">
        <!-- if esercizio in Scheda check the checkbox -->
        <input class="form-check-input" type="checkbox" name="ids" value="{{allenamento.id_allenamento}}" id="flexCheck{{loop.index}}" {% if allenamento in selected %} checked {% endif %}>
        <label class="form-check-label" for="flexCheck{{loop.index}}">
          {{allenamento.titolo}}
          <!-- clicca per popup con info quali livello e descrizione -->
        </label>
      </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary mt-2">Modifica</button>
	</form>
</div>
{% endblock %}
