{% extends "base.html" %}
{% block title %}Profilo{% endblock %}
{% block style %} {{url_for('static', filename='css/profile_styles.css')}} {% endblock %}
{% block content %}
  <!-- Profile Header -->
  <section class="hero-section py-5">
    <div class="container">
      <h1 class="mb-3">{{current_user.nome}} {{current_user.cognome}}</h1>
      <div class="d-flex align-items-center justify-content-center">
        <p id="p-rating"><strong>Valutazione:</strong></p>
        {% if current_user.rating != 0.0 %}
          <div class="rating">
            {{show_star(0.5)}}
            {{show_star(1.5)}}
            {{show_star(2.5)}}
            {{show_star(3.5)}}
            {{show_star(4.5)}}
          </div>
          <span class="ms-2">({{'%.1f'%(current_user.rating)}} su 5)</span>
        {% else %}
          <em>Nessuna valutazione</em>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Public Workouts -->
  <section class="workouts-section mt-3">
    <div class="container">
      <h2 class="mb-4">Allenamenti Pubblici</h2>
      <div class="row">
        {% if not public_workouts %}
        <p>Nessun allenamento pubblico creato.</p>
        {% endif %}
        {% for allenamento in public_workouts %}
          {{ show_allenamento(allenamento) }}
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Private Workouts -->
  <section class="workouts-section">
    <div class="container">
      <h2 class="mb-4">Allenamenti Privati</h2>
      <div class="row">
        {% if not private_workouts %}
        <p>Nessun allenamento privato creato.</p>
        {% endif %}
        {% for allenamento in private_workouts %}
          {{ show_allenamento(allenamento) }}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% macro show_allenamento(allenamento) %}
<div class="col-lg-4 col-md-6 workout-card">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ allenamento.titolo }}</h5>
      <p class="card-subtitle text-body-secondary">Livello: {{allenamento.livello}}</p>
      <p class="card-text">{{allenamento.descrizione}}</p>
      <div class="btn-group-action">
        <a href="/modify_workout/{{allenamento.id_allenamento}}" class="btn btn-primary">Modifica</a>
        <form action="/delete_workout" method="post" class="d-inline">
          <input type="hidden" id="workout_id" name="workout_id" value="{{allenamento.id_allenamento}}"/>
          <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
      </div>
      <p class="card-text mt-2 text-body-secondary"><small>Data di creazione: {{allenamento.data_creazione.split()[0]}}</small></p>
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_star(limit) %}
<i class="star {% if current_user.rating > limit+0.2 %}fa-solid fa-star{% elif current_user.rating > limit-0.3 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
{% endmacro %}