{% extends "base.html" %}
{% block title %}Profilo{% endblock %}
{% block style %} {{url_for('static', filename='css/profile_styles.css')}} {% endblock %}
{% block content %}

  <!-- Profile Header -->
  <section class="hero-section py-5">
    <div class="container">
      <h1 class="mb-3">{{current_user.nome}} {{current_user.cognome}}</h1>
      <div class="d-flex align-items-center justify-content-center">
        <p id="p-rating"><strong>Valutazione:</strong></p>
        {% if current_user.rating != 0.0 %}
          <div class="rating">
            <span class="{% if current_user.rating > 0.5 %}star-full{% else %}star-empty{% endif %}">{% if current_user.rating > 0.5 %}★{% else %}☆{% endif %}</span>
            <span class="{% if current_user.rating > 1.5 %}star-full{% else %}star-empty{% endif %}">{% if current_user.rating > 1.5 %}★{% else %}☆{% endif %}</span>
            <span class="{% if current_user.rating > 2.5 %}star-full{% else %}star-empty{% endif %}">{% if current_user.rating > 2.5 %}★{% else %}☆{% endif %}</span>
            <span class="{% if current_user.rating > 3.5 %}star-full{% else %}star-empty{% endif %}">{% if current_user.rating > 3.5 %}★{% else %}☆{% endif %}</span>
            <span class="{% if current_user.rating > 4.5 %}star-full{% else %}star-empty{% endif %}">{% if current_user.rating > 4.5 %}★{% else %}☆{% endif %}</span>
          </div>
          <span class="ms-2">({{'%.1f'%(current_user.rating)}} su 5)</span>
        {% else %}
          <em>Non valutato</em>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Public Workouts -->
  <section class="workouts-section mt-3">
    <div class="container">
      <h2 class="mb-4">Allenamenti Pubblici</h2>
      <div class="row">
        {% if not public_workouts %}
        <p>Nessun allenamento pubblico creato.</p>
        {% endif %}
        {% for allenamento in public_workouts %}
          <div class="col-lg-4 col-md-6 workout-card">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ allenamento.titolo }}</h5>
                <p class="card-subtitle text-body-secondary">Livello: {{allenamento.livello}}</p>
                <p class="card-text">{{allenamento.descrizione}}</p>
                <a href="/modify_workout/{{allenamento.id_allenamento}}" class="btn btn-primary">Modifica</a>
                <form class="d-inline" action="/delete_workout/{{allenamento.id_allenamento}}" method="post">
                  <button type="submit" class="btn btn-danger">Elimina</button> 
                </form>
                <p class="card-text mt-2 text-body-secondary"><small>Data di creazione: {{allenamento.data_creazione.split()[0]}}</small></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Private Workouts -->
  <section class="workouts-section">
    <div class="container">
      <h2 class="mb-4">Allenamenti Privati</h2>
      <div class="row">
        {% if not private_workouts %}
        <p>Nessun allenamento privato creato.</p>
        {% endif %}
        {% for allenamento in private_workouts %}
          <div class="col-lg-4 col-md-6 workout-card">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ allenamento.titolo }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Livello: {{allenamento.livello}}</h6>
                <p class="card-text">{{allenamento.descrizione}}</p>
                <a href="/modify_workout/{{allenamento.id_allenamento}}" class="btn btn-primary">Modifica</a>
                <form class="d-inline" action="/delete_workout/{{allenamento.id_allenamento}}" method="post">
                  <button type="submit" class="btn btn-danger">Elimina</button> 
                </form>
                <p class="card-text mt-2 text-body-secondary"><small>Data di creazione: {{allenamento.data_creazione.split()[0]}}</small></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}