{% extends "base.html" %}
{% block title %}Schede{% endblock %}
{% block style %} {{url_for('static', filename='css/schede_styles.css')}} {% endblock %}
{% block content %}
	{% if current_user.__class__.__name__ == "PersonalTrainer" %}
		<section class="hero-section">
			<div class="container">
				<h1 class="mb-3">Schede di Allenamento per {{name}}</h1>
				<p class="lead">Qui puoi creare nuove schede e gestire quelle già esistenti.</p>
				<form action="/create_scheda" method="get">
					<input type="hidden" id="client_id" name="client_id" value="{{client_id}}" />
					<button type="submit" class="btn btn-primary">Crea Nuova Scheda</button> 
				</form>
			</div>
		</section>
	{% else %}
		<section class="hero-section">
			<div class="container">
				<h1 class="mb-3">Schede di Allenamento create da {{name}}</h1>
				<p class="lead">Qui puoi consultare e valutare le tue schede.</p>
			</div>
		</section>
	{% endif %}
	<ul class="list-group" id="lista">
		<!-- Workout Plans Section -->
    <section class="workout-plans-section py-3">
			<div class="container">
				{% if not schede %}
					<p class="text-center mt-5">Ancora nessuna scheda.</p>
				{% endif %}
				{% for scheda in schede %}
				<div class="row">
					<div class="col-lg-6 col-md-8 mx-auto">
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title text-center mb-3"><strong>{{scheda.titolo}}</strong></h5>
								<p class="card-text"><strong>Obiettivo:</strong> {{scheda.obiettivo}}</p>
								<ul class="list-group list-group-flush">
									{% for workout in allenamenti[scheda.id_scheda]%}
										<li class="list-group-item">
											 <h6 class="card-title"><strong>{{loop.index}}. {{workout.titolo}}</strong></h6>
											<p class="card-subtitle mb-2 text-body-secondary">Livello: {{workout.livello}}</p>
											<p class="card-text mb-1">{{workout.descrizione}}</p>
										</li>
									{% endfor %}
								</ul>
								{% if current_user.__class__.__name__ == "Client" %}
									<form action="/update_rating" method="post">
										<fieldset class="btn-group-action pt-3">
											<span class="star-cb-group">
												<input type="radio" id="rating-5-{{loop.index}}" name="rating" value="5" required {% if scheda.rating ==5 %}checked{% endif %}/>
												<label for="rating-5-{{loop.index}}">5</label>
												<input type="radio" id="rating-4-{{loop.index}}" name="rating" value="4" {% if scheda.rating ==4 %}checked{% endif %}/>
												<label for="rating-4-{{loop.index}}">4</label>
												<input type="radio" id="rating-3-{{loop.index}}" name="rating" value="3" {% if scheda.rating ==3 %}checked{% endif %}/>
												<label for="rating-3-{{loop.index}}">3</label>
												<input type="radio" id="rating-2-{{loop.index}}" name="rating" value="2" {% if scheda.rating ==2 %}checked{% endif %}/>
												<label for="rating-2-{{loop.index}}">2</label>
												<input type="radio" id="rating-1-{{loop.index}}" name="rating" value="1" {% if scheda.rating ==1 %}checked{% endif %}/>
												<label for="rating-1-{{loop.index}}">1</label>
											</span>
											<input type="hidden" id="id_scheda" name="id_scheda" value="{{scheda.id_scheda}}"/>
											<input type="hidden" id="oldRating" name="oldRating" value="{{scheda.rating}}"/>
											<button type="submit" class="btn btn-primary">Lascia un Voto</button>
										</fieldset>
									</form>
								
								{% else %}
								<div class="d-flex align-items-center">
									<p id="p-rating"><strong>Valutazione:</strong></p>
									{% if scheda.rating is not none %}
										<div class="rating">
											{{show_star(scheda.rating,0.5)}}
											{{show_star(scheda.rating,1.5)}}
											{{show_star(scheda.rating,2.5)}}
											{{show_star(scheda.rating,3.5)}}
											{{show_star(scheda.rating,4.5)}}
										</div>
									{% else %}
										<em>Non valutato</em>
									{% endif %}
								</div>
									<br>
									<div class="btn-group-action">
										<a href="/modify_scheda/{{scheda.id_scheda}}" class="btn btn-primary">Modifica</a>
										<form action="/delete_scheda" method="post" class="d-inline">
											<input type="hidden" id="id_scheda" name="id_scheda" value="{{scheda.id_scheda}}"/>
											<button type="submit" class="btn btn-danger">Elimina</button>
										</form>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</ul>
{% endblock %}

{% macro show_star(rating,limit) %}
<i class="star {% if rating > limit+0.2 %}fa-solid fa-star{% elif rating > limit-0.3 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
{% endmacro %}
