{% extends "base.html" %}
{% block title %}Registrati{% endblock %}
{% block style %} {{url_for('static', filename='css/login_styles.css')}} {% endblock %}
{% block content %} 

<div class="login-container mt-3 mb-3">
	<h2>Crea Nuovo Account</h2>
	<form  action="/signup" method="POST" onsubmit="checkPassword(event)">
		<div class="mb-3">
			<label for="nameInput" class="form-label">Nome</label>
			<input type="text" class="form-control" name="name" id="nameInput" required autocomplete="off">
		</div>
		<div class="mb-3">
			<label for="surnameInput" class="form-label">Cognome</label>
			<input type="text" class="form-control" name="surname" id="surnameInput" required autocomplete="off">
		</div>
		<div class="mb-3">
			<label for="genere">Genere</label>
			<select class="form-select mt-2" aria-label="genere" id="genere" name="genere" required>
				<option value="" selected>Scegli il tuo genere</option>
				<option value="female">Donna</option>
				<option value="male">Uomo</option>
				<option value="other">Preferisco non dirlo</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="emailInput" class="form-label">Email</label>
			<input type="email" class="form-control" name="email" id="emailInput" required autocomplete="off">
		</div>
		<div class="mb-3">
			<label for="tipo">Tipo di account</label>
			<select class="form-select mt-2" aria-label="tipo" id="tipo" name="tipo" required>
				<option value="" selected>Scegli il tipo di account</option>
				<option value="personal_trainer">Personal Trainer</option>
				<option value="client">Cliente</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="passwordInput" class="form-label">Password</label>
			<input type="password" class="form-control password-input" name="password" id="passwordInput" required autocomplete="off">
			<span class="toggle-password">
				<i class="fa-solid fa-eye field-icon" id="togglePassword"></i>
			</span>		
		</div>
		<div class="mb-3">
			<label for="passwordCheckInput" class="form-label">Conferma Password</label>
			<input type="password" class="form-control password-input" id="passwordCheckInput" required autocomplete="off">
			<span class="toggle-password">
				<i class="fa-solid fa-eye field-icon"></i>
			</span>	
			<div class="d-flex flex-row mt-1">
				<i class="fa-solid fa-circle-exclamation ms-1" id="exclamation"></i>
				<p id="error-message" class="form-text d-inline text-start ms-1"></p>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Registrati</button>
		<div class="form-text">
			Hai gi&agrave; un account? <a href="/login">Accedi qui</a>
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/checkPassword.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/fieldIcon.js')}}"></script>
{% endblock %}